#######################
.*
!/.gitignore
!/.editorconfig
!/.scrutinizer.yml
!/.travis.yml
!/.php_cs
!/.github/
!/.codeclimate.yml
!/.mention-bot

# Others #
##########
*.swp
/composer.lock
Thumbs.db
config.php
html/css/custom/*
html/images/custom/*
html/plugins/*
!html/plugins/Test/
includes/custom/*
junk
logs
nbproject
patches
rrd
!/lib/yaml
/vendor
composer.phar
.ssh

# Docs #
########
out
librenms_theme
rename_script
rename_script.sh

html/images/os/bdn2020.png
html/includes/graphs/device/dialogic_cpubusy.inc.php
includes/polling/os/bdn2020.inc.php
